body {
    scroll-behavior: smooth;

    &.navbar-fixed {
        
        #Hero {
            box-sizing: border-box;
            padding-top: 80px;
        }
    }
}

.doodle-bg-1 {
    background-image: url("../assets//images/doodle-background.png");
    background-size: 50%;
    background-blend-mode: overlay;
}

.doodle-bg-2 {
    background-image: url("../assets//images/doodle-background-2.png");
    background-size: 50%;
    background-blend-mode: overlay;
}

.bg-1 {
    background-image: url("../assets/images/background.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
}

#Hero {
    @media screen and (min-width: map-get($grid-breakpoints, md)) {
        height: 100vh;
    }
}

.navbar {

    height: 80px;
    transition-duration: 0.3s;
    z-index:1;

    &.dropTop {
        animation: fadeInDown 0.3s;
    }

    &.hidden {
        display: none;
    }

    .navbar-nav .nav-item {
        color: map-get($colors, gray);
        font-weight: 500;
        padding: 0 14px;

        &.active, &:active {
            color: map-get($theme-colors, primary)
        }
    }
}

// SECTION

.hero {

    .hero-title {
        font-weight: 700;
    }
}

.section-title {
    color: map-get($theme-colors, primary);
    font-weight: 700;
    text-transform: uppercase;
    margin: 1rem 0;

    &.inverse {
        color: $white;
    }
}

.section-title-underline {
    display: inline-block;
    width: 14px;
    height: 14px;
    background: map-get($theme-colors, primary);
    position: relative;
    border-radius: 50rem;

    &::after {
        content: '';
        display: block;
        width: 10px;
        height: 10px;
        background: map-get($theme-colors, primary);
        position: absolute;
        right: -24px;
        top: 2px;
        border-radius: 50rem;
    }

    &::before {
        content: '';
        display: block;
        width: 10px;
        height: 10px;
        background: map-get($theme-colors, primary);
        position: absolute;
        left: -24px;
        top: 2px;
        border-radius: 50rem;
    }

    &.inverse {
        background: $white;
        &::after {
            background: $white;
        }
        &::before {
            background: $white;
        }
    }
}

// FEATURE

.feature {

    text-align: center;
    margin-top: 32px;

    &.f-1 .feature-icon{
        color: $cyan;
    }

    &.f-2 .feature-icon{
        color: $orange;
    }

    &.f-3 .feature-icon {
        color: $green;
    }

    .feature-icon {
        font-size: 3.2rem;
        margin-bottom: 24px;
    }

    h4.feature-title {
        font-size: 1.2rem;
        font-weight: 700;
    }

    .feature-text {
        font-size: 0.9rem;
        font-weight: 500;
        color: map-get($colors, gray-light);
    }
}

// GALLERY

.section-gallery {
    background: map-get($theme-colors, primary);
}

// ACHIEVER

.section-achievers {
    .achiever-img {
        width: 100%;
    }

    .achiever-name {
        font-size: 1rem;
        @media screen and (min-width: map-get($grid-breakpoints, md)) {
            font-size: 1.2rem;
        }
    }
}

// CONTACT

.section-achievers{
    background: $white;
}

// FOOTER

#footer {
    background: $footer-bg;
    color: $footer-color;

    .subtitle {
        text-transform: uppercase;
        font-weight: bold;
        position: relative;

        &::after {
            content: '';
            display: block;
            width: 75px;
            height: 3px;
            background: map-get($theme-colors, primary);
            position: absolute;
            left: 0;
            top: 100%;
        }
    }

    .details {

        .detail-item {
            
            display: flex;
            align-items: center;

            .fa {
                margin-right: 12px;
                width: 24px;
            }

            .text {
                padding-left: 12px;
                border-left: 1px dashed darken($footer-bg, 10%)
            }
        }
    }
}

// COPYRIGHT

.copyright {
    background: #3F3F3F;
    color: map-get($colors, gray-light);
    font-size: 0.8rem;
    font-weight: 500;

    a.social-link {
        color: map-get($colors, gray);
        font-size: 1.3rem;
        padding: 0 2rem;

        &:hover {
            color: $brand-primary;
        }
    }
}

//LOGIN FORM
#login-modal {

    .uk-modal-dialog {
        border-radius: $border-radius !important;
    }

    #loginForm {
        .login-input {

            border: 1px solid $border-color;
            border-radius: $border-radius;

            .form-control, .input-group-append .input-group-text { border: none ; box-shadow: none; }

            .input-group-append .input-group-text {
                color: color(gray-light);
            }

        }
    }
}