body {
    scroll-behavior: smooth;
    overflow-x: hidden;
    width: 100%;

    &.navbar-fixed {
        
        #Hero {
            box-sizing: border-box;
            padding-top: 80px;
        }
    }
}

.doodle-bg-1 {
    background-image: url("../assets//images/doodle-background.png");
    background-size: 50%;
    background-blend-mode: overlay;
}

.doodle-bg-2 {
    background-image: url("../assets//images/doodle-background-2.png");
    background-size: 50%;
    background-blend-mode: overlay;
}

.bg-1 {
    background-image: url("../assets/images/background.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
}

#Hero {
    @media screen and (min-width: map-get($grid-breakpoints, md)) {
        height: 100vh;
    }

    @media screen and (max-width: map-get($grid-breakpoints, md)) {

        h1.hero-title {
            font-size: 2.5rem;
        }
    }
}

.navbar {

    height: 80px;
    transition-duration: 0.3s;
    z-index:1;

    @media screen and (max-width: map-get($grid-breakpoints, md)) {
        display: block;

        .navbar-collapse {
            background: theme-color(primary);
            border-radius: $border-radius;
            margin-top: 2rem;

            .navbar-nav .nav-item {
                padding: 1rem;
                color: #fff;
            }
        }
    }

    &.dropTop {
        animation: fadeInDown 0.3s;
    }

    &.hidden {
        display: none;
    }

    .navbar-nav .nav-item {
        color: map-get($colors, gray);
        font-weight: 500;
        padding: 0 14px;

        &.active, &:active {
            color: map-get($theme-colors, primary)
        }
    }
}

// SECTION

.hero {

    .hero-title {
        font-weight: 700;
    }
}

.section-title {
    color: map-get($theme-colors, primary);
    font-weight: 700;
    text-transform: uppercase;
    margin: 1rem 0;

    &.inverse {
        color: $white;
    }
}

.section-title-underline {
    display: inline-block;
    width: 14px;
    height: 14px;
    background: map-get($theme-colors, primary);
    position: relative;
    border-radius: 50rem;

    &::after {
        content: '';
        display: block;
        width: 10px;
        height: 10px;
        background: map-get($theme-colors, primary);
        position: absolute;
        right: -24px;
        top: 2px;
        border-radius: 50rem;
    }

    &::before {
        content: '';
        display: block;
        width: 10px;
        height: 10px;
        background: map-get($theme-colors, primary);
        position: absolute;
        left: -24px;
        top: 2px;
        border-radius: 50rem;
    }

    &.inverse {
        background: $white;
        &::after {
            background: $white;
        }
        &::before {
            background: $white;
        }
    }
}

// FEATURE

.feature {

    text-align: center;
    margin-top: 32px;

    &.f-1 .feature-icon{
        color: $cyan;
    }

    &.f-2 .feature-icon{
        color: $orange;
    }

    &.f-3 .feature-icon {
        color: $green;
    }

    .feature-icon {
        font-size: 3.2rem;
        margin-bottom: 24px;
    }

    h4.feature-title {
        font-size: 1.2rem;
        font-weight: 700;
    }

    .feature-text {
        font-size: 0.9rem;
        font-weight: 500;
        color: map-get($colors, gray-light);
    }
}

// GALLERY

.section-gallery {
    background: map-get($theme-colors, primary);
}

// ACHIEVER

.section-achievers {
    .achiever-img {
        width: 100%;
    }

    .achiever-name {
        font-size: 1rem;
        @media screen and (min-width: map-get($grid-breakpoints, md)) {
            font-size: 1.2rem;
        }
    }
}

// CONTACT

.section-achievers{
    background: $white;
}

// FOOTER

#footer {
    background: $footer-bg;
    color: $footer-color;

    .subtitle {
        text-transform: uppercase;
        font-weight: bold;
        position: relative;

        &::after {
            content: '';
            display: block;
            width: 75px;
            height: 3px;
            background: map-get($theme-colors, primary);
            position: absolute;
            left: 0;
            top: 100%;
        }
    }

    .details {

        .detail-item {
            
            display: flex;
            align-items: center;

            .fa {
                margin-right: 12px;
                width: 24px;
            }

            .text {
                padding-left: 12px;
                border-left: 1px dashed darken($footer-bg, 10%)
            }
        }
    }
}

// COPYRIGHT

.copyright {
    background: #3F3F3F;
    color: map-get($colors, gray-light);
    font-size: 0.8rem;
    font-weight: 500;

    a.social-link {
        color: map-get($colors, gray);
        font-size: 1.3rem;
        padding: 0 2rem;

        &:hover {
            color: $brand-primary;
        }
    }
}

//LOGIN FORM
#login-modal {

    .uk-modal-dialog {
        border-radius: $border-radius !important;
    }

    #loginForm {
        .login-input {

            border: 1px solid $border-color;
            border-radius: $border-radius;

            .form-control, .input-group-append .input-group-text { border: none ; box-shadow: none; }

            .input-group-append .input-group-text {
                color: color(gray-light);
            }

        }
    }
}

#Product {

    background: #fff;

    .product-nav-container {
        padding: 3rem 3rem 0 3rem;
        box-shadow: inset 0px -4px 4px #000;

        @media screen and (min-width: map-get($grid-breakpoints, md)) {

            padding: 3rem 0 3rem 3rem;
            box-shadow: inset -4px 0px 4px #000;
        }
    }

    .product-table {
        td {
            padding: 5px 12px;
        }
    }

    .product-nav {

        $b-rad: $border-radius;
        
        li {
            border-radius: $b-rad $b-rad 0 0;
            z-index: 10;      
            transform: translateY(1px); //line fix

            a {
                border-radius: $border-radius;
                transform: scale(0.9, 0.9);
                // border: 3px solid transparentize($white, 0.9);
            }

            .uk-overlay {
                display: none;
            }

            &.uk-active {
                background: #fff;
                box-shadow: -4px -4px 4px #000;

                &::after, &::before {
                    content: '';
                    display: none;
                }

                a {
                    transform: scale(1, 1);
                    // box-shadow: 0px 0px 0px 5px transparentize(theme-color(primary), 0.5);
                }

            }

            
            @media screen and (min-width: map-get($grid-breakpoints, md)) {

                border-radius: $b-rad 0 0 $b-rad;
                position: relative;
                transform: none;

                .uk-overlay {
                    display: initial;
                }
                
                a {
                    width: 100%;
                    height: 230px;
                    overflow: hidden;
                    // border-width: 8px;

                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                        object-position: center;
                    }
                }

                &.uk-active {

                    box-shadow: -4px 4px 4px #000;

                    &::after, &::before {
                        content: '';
                        display: block;
                        background: transparent;
                        width: $b-rad;
                        height: $b-rad;
                        position: absolute;
                        right: 0;
                    }
    
                    &::after {
                        border-bottom-right-radius: $b-rad;
                        top: -$b-rad;
                        left: auto;
    
                        box-shadow: $b-rad $b-rad 0px $b-rad #fff;
                    }
    
                    &::before {
                        border-top-right-radius: $b-rad;
                        bottom: -$b-rad;
    
                        box-shadow: $b-rad (-$b-rad) 0px $b-rad #fff;
                    }

                    .uk-overlay {
                        opacity: 0; 
                    }
                    
                }

            }

        }
    }

    @media screen and (max-width: map-get($grid-breakpoints, md)) {
        .product-desc-card {
            .card-title { font-size: 1rem; }
            .card-subtitle { font-size: 0.9rem; }
            .card-body {
                padding: 2px 8px;
            }
        }

        .product-nav-container {
            padding-top: 8px;
        }

        .product-table {
            font-size: 0.7rem;

            td {
                padding: 2px 4px;

                &:first-child {
                    width: 30%;
                }
            }
        }
    }
}

//QUOTES
#Quotes {
    background: theme-color(primary);
}