////////// COLOR SYSTEM //////////
$blue: #00aeef;
$indigo: #6610f2;
$purple: #ab8ce4;
$pink: #E91E63;
$red: #ff0017;
$orange: #fb9678;
$yellow: #ffd500;
$green: #3bd949;
$teal: #58d8a3;
$cyan: #57c7d4;
$black: #000;
$white: #ffffff;
$white-smoke: #f4f4f4;
$ghost-white: #f7fafc;
$violet: #41478a;
$theme-colors: ( primary: #E5334E, secondary: #FFCCD8, success: #8BC34A, info: #00BCD4, warning: #ffaf00, danger: #e65251, light: #f3f5f6, dark: #333333);
$colors: ( blue: $blue, indigo: $indigo, purple: $purple, pink: $pink, red: $red, orange: $orange, yellow: $yellow, green: $green, teal: $teal, cyan: $cyan, white: $white, white-smoke: #f3f5f6, gray: #666666, gray-light: #999999, gray-lightest: #F9F9F9, gray-dark: #292b2c);

//////// THEME FONTS ////////
$content-bg: #F9F9F9;
$footer-bg: $content-bg;
$footer-color: color(dark);
$border-color: #f2f2f2;

//// OVERRIDE ////

$type-1: 'Montserrat', sans-serif;
$type-2: $type-1;
$default-font-size: 13px;
$text-muted: map-get($colors, gray);
$body-color: color(dark);
$body-bg: $content-bg;

$font-family-sans-serif: $type-1;
$font-family-serif: $type-2;

$font-family-base: $font-family-sans-serif;

//// NAVBAR ////

$navbar-default-link-color: map-get($colors, gray);

$navbar-height: 80px;

/// FORMS

$input-border: $border-color;
$input-color-placeholder: #b3b3b3;