<div class="container">
    <div class="text-center" uk-parallax="opacity:0,1; y:120,0;viewport:0.3">
        <h2 class="section-title">Company</h2>
        <div class="section-title-underline"></div>
    </div>

    <p class="lead company-text font-weight-medium text-muted text-center p-4" uk-parallax="opacity:0,1; y:120,0;viewport:0.3">
        {{content.company.text}}
    </p>

    <div class="row align-items-center p-4 border-top border-bottom">

        <div class="col-md-3">
            <img src="assets/images/linkline.png" alt="LinkLine" class="img-fluid">
        </div>
        <div class="col-md-8 text-justify">
            <p>LinkLine e-Commerce Pvt Ltd is an established brand in the bike & hoverboard booking business with a presence across South India.</p>
            <p>Winner of top awards and achievements from both Royal Enfield and KTM, we have been instrumented in providing hundreds of bookings to these brands in a short period of time</p>
            <p>We are now exited to launch Trip Boards, and we aim to be the single largest vendor of hoverboards in India.</p>
        </div>
        
    </div>
</div>

<div class="row align-items-stretch">

    {% for feature in content.company.features %}
        <div class="feature f-{{feature.id}} col-md-4" data-aos="fade-up" data-aos-delay="{{(feature.id - 1)*100}}">
            <div class="card border-light h-100" >
                <div class="card-body">
                    <div class="feature-icon"><i class="fa {{feature.icon}}"></i></div>
                    <h4 class="feature-title">{{feature.title}}</h4>
                    <p class="feature-text">{{feature.text}}</p>
                </div>
            </div>
        </div>
    {% endfor %}

</div>

