<div class="container">
    <div class="text-center" uk-parallax="opacity:0,1; y:120,0;viewport:0.3">
        <h2 class="section-title">Contact</h2>
        <div class="section-title-underline"></div>
    </div>
    <form action="#" class="contact-form mt-5" data-aos="fade-up">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <input type="text" class="form-control" id="contactName" placeholder="Your Name">
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <input type="email" class="form-control" id="contactEmail" placeholder="Your Email">
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <input type="text" class="form-control" id="contactSubject" placeholder="Subject">
                </div>
            </div>
        </div>
        <div class="form-group">
            <textarea name="message" id="contactMessage" rows="8" class="form-control" placeholder="Your Message..."></textarea>
        </div>

        <div class="text-center">
            <button class="btn btn-primary text-uppercase font-weight-bold px-5 mt-2" data-aos="fade-down">Submit</button>
        </div>
    </form>
</div>