<div class="hero flex-grow-1 d-flex">

    <div class="row my-auto text-center text-md-left">

        <div class="col-md-6 order-2 order-md-1">

            <h1 class="hero-title display-4">
                {{content.hero.title | safe}}
            </h1>
            <p class="font-weight-medium text-muted mt-4">
                {{content.hero.text}}
            </p>

            <a href=" {{content.hero.action.link}} " class="btn btn-lg btn-primary mt-4">
                <i class="fa {{content.hero.action.icon}} "></i> <span class="text-uppercase font-weight-medium ml-2">{{content.hero.action.text}}</span>
            </a>
        </div>

        <div class="col-md-6 order-1 order-md-2">
            <img src="../assets/images/product.png" alt="Hover Board" class="hero-image img-fluid">
        </div>
    </div>

</div>