<div class="container hero flex-grow-1 d-flex">

    <div class="row my-auto text-center text-md-left">

        <div class="col-md-6 order-2 order-md-1" uk-parallax="scale:1,0.7; opacity: 1, 0.3" data-aos="fade-right">

            <h1 class="hero-title display-4">
                {{content.hero.title | safe}}
            </h1>
            <p class="font-weight-medium text-muted mt-4">
                {{content.hero.text | safe}}
            </p>

            <a href=" {{content.hero.action.link}} " class="btn btn-lg btn-primary mt-4">
                <i class="fa {{content.hero.action.icon}} "></i> <span class="text-uppercase font-weight-bold ml-2">{{content.hero.action.text}}</span>
            </a>
        </div>

        <div class="col-md-6 order-1 order-md-2" uk-parallax="x:0, 150">
            <img src="assets/images/product-blue.png" alt="Hover Board" class="hero-image img-fluid wow fadeInLeft">
        </div>
    </div>

</div>
