<!-- This is the modal -->
<div id="login-modal" class="uk-flex-top" uk-modal>
    <div class="uk-margin-auto-vertical uk-modal-dialog">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-body">
            <div class="text-center">
                <h4 class="section-title">Login</h4>
                <div class="section-title-underline"></div>
            </div>
            <form action="{{forms.login.action}}" class="mt-4 px-3" id="loginForm">
                <div class="form-group">
                    <div class="input-group login-input">
                        <input type="email" class="form-control" placeholder="Your Email">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group login-input">
                        <input type="password" class="form-control" placeholder="Password">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fa fa-key"></i></span>
                        </div>
                    </div>
                </div>

                <div class="text-center mt-4">
                    <button class="btn btn-primary text-uppercase font-weight-bold px-4">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>