<nav class="navbar navbar-light navbar-expand-md bg-transparent" id="navbar">
    <div class="container">
        <span class="navbar-brand mb-0 h1">
            <img src="assets/images/logo.png" width="30px">
            <strong class="text-primary">Trip</strong>Board
        </span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ml-auto">
                <a class="nav-item nav-link" href="#Company">Company</a>
                <a class="nav-item nav-link" href="#Gallery">Gallery</a>
                <a class="nav-item nav-link" href="#Achievers">Achievers</a>
                <a class="nav-item nav-link" href="#Contact">Contact</a>
                <a  class="nav-item nav-link ml-md-5" uk-toggle="target: #login-modal">Login <i class="fa fa-sign-in-alt"></i></a>
            </div>
        </div>
    </div>
</nav>